body{
	background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

li{
	list-style: none;
	font-size: 30px;
	margin-right: 20%;
}

#container{
	text-align: center;
	margin: 0 auto;
	width: 200px;
}

input{
	margin-bottom: 10px;
	padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 12rem;
}

#btnadd {
	color: #494949 ;
    background: #ffffff;
    padding: 7px;
    border: 2px solid #ccc ;
    border-radius: 6px;
    display: inline-block;
}
